.pendingcont {
  width: 93vw;
  height: 75vh;
  padding: 5px;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  
}
.Cardp {
  min-height: 10vh;
  width: 92vw;
  display: flex;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
}

.leftdivs {
  width: 83%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.leftdivs:hover{
  background-color: aliceblue;
}
.up {
  min-height: 5vh;
  background-color: rgba(218, 255, 218, 0.445);
}
.up1{
 text-align: left;
 /* margin-left: -60px; */
}
.downp {
  min-height: 5vh;
  background-color: rgba(128, 128, 128, 0.411);
  display: flex;
  gap: 20px;
  align-items: center;
}
.downp h4{
  margin-left: 15px;
}


.rightdivs {
  background-color: rgba(14, 250, 73, 0.486);
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.664);
  transition: 0.2s ease-in-out;
}

.rightdivs:hover {
  background-color: rgb(0, 255, 55);
  color: rgb(0, 0, 0);
}
