/* @import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100;300;400;500&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* step 2 #F2EAD3
step 3 #DFD7BF
button 1 #3F2305 Cholate
button 2 #FF8551  orange
*/

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
.App {
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  min-height: 99vh;
  max-height: 99vh;
  /* border: 1px solid  black; */
  background-image: url(/imgs/img5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SignIn {
  padding: 13px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 0.5px rgba(0, 0, 0, 0.233) solid;
  background-color: transparent;
  transition: 0.3s ease-in;
}
.SignIn:hover {
  border: 0.5px rgba(0, 0, 0, 0.973) solid;
  font-weight: 600;
  background-color: #ffd95a7a;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.SignUp {
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ffd95a7a;
  color: rgb(0, 0, 0);
  border: 0.5px rgba(0, 0, 0, 0.233) solid;
  transition: 0.3s ease-in;
}

.SignUp:hover {
  border: 0.5px rgba(0, 0, 0, 0.973) solid;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-out;
}

::-webkit-scrollbar {
  display: none;
}

